.image-popup__container{
  display: flex;
  flex-direction: column;
  min-width: 291px;
  max-width: 840px;
  margin: auto;
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 880px){
  .image-popup__container{
    width: 240px;
  }
}

@media screen and (min-width: 880px){
  .image-popup__container{
    max-width: 840px;
    min-width: 291px;
  }
}