.element__delete-button{
background: none;
background-image: url(../../../images/deletebutton.svg);
background-repeat: no-repeat;
background-size: contain;
border: none;
justify-self: flex-end;
grid-column: 2/3;
grid-row: 1/2;
z-index: 2;
height: 18px;
width: 19px;
margin-top: 20px;
margin-right: 20px;
transition: .3s;
cursor: pointer;
}


.element__delete-button:hover{
opacity: .5;
}
