.header{
  margin: auto;
  border-bottom: 1px #545454 solid;
}

@media screen and (max-width: 880px){
  .header{
    width: 100%;
    padding-top: 28px;
    padding-bottom: 31px;
  }
}

@media screen and (min-width: 880px){
  .header{
    padding-bottom: 45px;
    padding-top: 45px;
    width: 880px;
  }
}