.popup__header{
  margin: 0;
  font-weight: 900;
  font-style: normal;
  text-align: left;
}

@media screen and (max-width: 880px){
  .popup__header{
    width: 238px;
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 880px){
  .popup__header{
    width: 358px;
    margin-top: 34px;
    font-size: 24px;
    line-height: 29px;
  }
}