.profile__add-button{
  background: none;
  background-position: center;
  border: 2px white solid;
  background-image: url(../../../images/Vector.svg);
  background-repeat: no-repeat;
  align-self: center;
  height: 50px;
  transition: .3s;
}

.profile__add-button:hover{
  opacity: .6;
  cursor: pointer;
}

@media screen and (max-width: 880px){
  .profile__add-button{
    grid-column: 1/2;
    grid-row: 3/4;
    width: 282px;
    justify-self: center;
    margin-top: 36px;
  }
}

@media screen and (min-width: 880px){
  .profile__add-button{
    width: 150px;
    grid-column: 3/4;
    grid-row: 1/2;
    align-self: center;
  }
}