.popup__img {
  background-image: url(../../../images/altailake2021.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

@media screen and (max-width: 880px) {
  .popup__img {
    height: 299px;
    width: 100%;
  }
}

@media screen and (min-width: 880px) {
  .popup__img {
    height: 540px;
    max-width: 816px;
  }
}