.popup__close-button {
  background: none;
  border: none;
  background-image: url(../../../images/CloseIcon.svg);
  background-size: contain;
  z-index: 3;
  position: absolute;
  transition: .3s;
}

.popup__close-button:hover{
  opacity: .8;
  cursor: pointer;
}
@media screen and (max-width: 880px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    top: -36px;
    right: 0;
  }
}

@media screen and (min-width: 880px) {
  .popup__close-button {
    width: 32px;
    height: 32px;
    top: -40px;
    right: -40px;
  }
}