.edit-form__container{
  display: flex;
  width: 100%;
  height: 100%;
  color: black;
  background-color: white;
  border-radius: 3%;
  align-items: center;
  flex-direction: column;
  position: fixed;
  left: 50%;

  transform: translate(-50%, -50%);
}

@media screen and (max-width: 880px) {
  .edit-form__container{
    width: 282px;
    height: 322px;
    top: 50%;
  }
}

@media screen and (min-width: 880px){
  .edit-form__container{
    width: 430px;
    height: 330px;
    top: 27%;
  }
}