.edit-form__header{
  margin: 0;

  font-weight: 900;

}

@media screen and (max-width: 880px){
  .edit-form__header{
    font-size: 18px;
    line-height: 22px;
    margin-top: 25px;
  }
}

@media screen and (min-width: 880px){
  .edit-form__header{
    margin-top: 36px;
    font-size: 24px;
    line-height: 29px;
  }
}